.btn:hover {
    width: 180px;
    box-sizing: border-box;
    padding: 0.6em 3em 0.6em 0.2em;
    border: none;
    transform: translateX(30px);
    text-decoration: none;
    font-size: 16px;
    line-height: 1em;
    background-color: red;
    border-radius: 2em;
    cursor: pointer;
    user-select: none;
    text-align: center;
}