.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F6FF;
    width: 100px;
    height: 100vh;
    position: fixed;
    gap: 30px;
    padding: 10px;
    padding-top: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    box-sizing: border-box;
}
.link {
    display: flex;
    align-items: flex-start;
    color: #C4C4C4;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 10px;

}
.link:first-child {
	margin-top: 10px;
}

/* .sidenav > .logo {
    width: 68px;
    padding-bottom: 20px;
    border-bottom: 2px solid #C4C4C4;
    box-sizing: border-box;
} */
.link > img {
    display: block;
}
.link span {
    display: none;
}
hr {
    width: 90%;
    border: 2px solid #C4C4C4;
}
.sidenav > .link:hover {
    color: #02577A;
}
.sidenav:hover {
    width: 206px;
    transition: max-width 0.2s ease-in;
}
.sidenav:hover > .link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidenav:hover > .link span {
    margin-left: 10px;
    display: inline-block;
}
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: center;
    border-top: 1px solid #02577A;
    padding: 10px;
}